<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilong.im.mapper.ImFriendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feilong.im.entity.ImFriend">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="friend_id" property="friendId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, friend_id, update_time, create_time
    </sql>

    <!-- 用户好友表分页列表 -->
    <select id="page" resultType="com.feilong.im.dto.bo.ImFriendBO">
        <!-- 使用bind标签调用Java静态方法并将结果存储到变量 -->
        <bind name="safeSorts" value="@com.feilong.im.util.MyBatisUtil@getSafeSorts(pageQuery)"/>
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        `im_friend`
        <where>
            <if test="pageQuery.id != null">
                AND `id` = #{pageQuery.id}
            </if>
            <if test="pageQuery.userId != null">
                AND `user_id` =  #{pageQuery.userId}
            </if>
            <if test="pageQuery.friendId != null">
                AND `friend_id` =  #{pageQuery.friendId}
            </if>
            <if test="pageQuery.updateTime != null">
                AND `update_time` =  #{pageQuery.updateTime}
            </if>
            <if test="pageQuery.createTime != null">
                AND `create_time` =  #{pageQuery.createTime}
            </if>
            <if test="pageQuery.startTime != null">
                AND `created_time` &gt;=  #{pageQuery.startTime}
            </if>
            <if test="pageQuery.endTime != null">
                AND `created_time` &lt;= #{pageQuery.endTime}
            </if>
        </where>
        <if test="safeSorts != null and safeSorts.size() > 0">
            ORDER BY
            <foreach item="sort" index="index" collection="safeSorts" separator=",">
                ${sort.field} ${sort.order}
            </foreach>
        </if>
    </select>

    <select id="listPage" resultType="com.feilong.im.entity.ImUser">
        SELECT iu.id, iu.nickname, iu.avatar, iu.status
        FROM `im_friend` im_f
        inner join im_user iu on iu.id = im_f.friend_id
        where im_f.user_id = #{imUserId}
        order by iu.nickname
    </select>
</mapper>
