<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilong.im.mapper.ImUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.feilong.im.entity.ImUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, nickname, avatar, status, version, deleted, create_time, update_time
    </sql>

    <!-- im账户表分页列表 -->
    <select id="page" resultType="com.feilong.im.dto.bo.ImUserBO">
        <!-- 使用bind标签调用Java静态方法并将结果存储到变量 -->
        <bind name="safeSorts" value="@com.feilong.im.util.MyBatisUtil@getSafeSorts(pageQuery)"/>
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        `im_user`
        <where>
            <if test="pageQuery.id != null">
                AND `id` = #{pageQuery.id}
            </if>
            <if test="pageQuery.username != null and pageQuery.username.trim().length > 0">
                AND `username` LIKE CONCAT('%',  #{pageQuery.username},'%')
            </if>
            <if test="pageQuery.password != null and pageQuery.password.trim().length > 0">
                AND `password` LIKE CONCAT('%',  #{pageQuery.password},'%')
            </if>
            <if test="pageQuery.nickname != null and pageQuery.nickname.trim().length > 0">
                AND `nickname` LIKE CONCAT('%',  #{pageQuery.nickname},'%')
            </if>
            <if test="pageQuery.avatar != null and pageQuery.avatar.trim().length > 0">
                AND `avatar` LIKE CONCAT('%',  #{pageQuery.avatar},'%')
            </if>
            <if test="pageQuery.status != null">
                AND `status` =  #{pageQuery.status}
            </if>
            <if test="pageQuery.version != null">
                AND `version` =  #{pageQuery.version}
            </if>
            <if test="pageQuery.deleted != null">
                AND `deleted` =  #{pageQuery.deleted}
            </if>
            <if test="pageQuery.createTime != null">
                AND `create_time` =  #{pageQuery.createTime}
            </if>
            <if test="pageQuery.updateTime != null">
                AND `update_time` =  #{pageQuery.updateTime}
            </if>
            <if test="pageQuery.startTime != null">
                AND `created_time` &gt;=  #{pageQuery.startTime}
            </if>
            <if test="pageQuery.endTime != null">
                AND `created_time` &lt;= #{pageQuery.endTime}
            </if>
        </where>
        <if test="safeSorts != null and safeSorts.size() > 0">
            ORDER BY
            <foreach item="sort" index="index" collection="safeSorts" separator=",">
                ${sort.field} ${sort.order}
            </foreach>
        </if>
    </select>
</mapper>
